.cont {
  height: 100vh;
}
.counters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 25vh;
}
.buttons {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
